<div class="bg-body-secondary">
    <div class="container">
        <!-- login-page -->
        <div class="d-flex justify-content-center align-items-center vh-100 position-relative">
            <div class="card shadow-lg" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">Login</h5>
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="email" class="form-control" name="username" [(ngModel)]="userObj.username">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" [(ngModel)]="userObj.password">
                        </div>
                        <div class="text-center mb-3">
                            <button type="submit" class="btn btn-primary" (click)="onLogin()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="position-absolute top-center">
                <!-- toaster -->
                @if(error){
                <ngb-alert [dismissible]="false">
                    <strong>Warning!</strong> {{showError}}
                </ngb-alert>
                }
            </div>
        </div>
    </div>
</div>